:root {
    /* Core colors */
    --primary: #283618;
    --secondary: #606C38;
    --tertiary: #FEFAE0;
    --textColordark: #567039;
  }
  
  body {
      background: var(--tertiary);
  }
  
  section {
    padding:2rem;
    margin:0;
}

figcaption {
    background-color: var(--primary);
    color: var(--tertiary);
    padding: 5px;
    text-align: center;
    font-size: 1.25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.intro-text {
    margin: 0 auto;
    color:var(--primary);
    text-align: left;
}
.intro-text h1 {
    font-size:3rem;
    margin: 0 auto;
    color:var(--primary);
    text-align: left;
}

.intro-text p {
    font-size: 2rem;
    margin: 0 auto;
    color:var(--primary);
    text-align: left;
}

.navbar{
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    text-decoration: none;
}
li::marker{
    color:#FEFAE0;
}
.navbar-item a{
    text-decoration: none;
    color:var(--primary);
    background: #FEFAE0;
    position:flex;
    text-align: center;
    font-size: 35px;
}

.navbar-item a:hover{
    font-weight: 800;
    transform:scale(1.5);
}
.navbar-item a:hover::after{
    display: inline-block;
}

/* Favorites Page */
.favs-title-text {
    margin: auto;
    color:var(--primary);
    position:flex;
    text-align: center;   
}

.favs-intro-text h1 {
    font-size:3rem;
    margin: 0 auto;
    color:var(--primary);
    position:flex;
    text-align: center;
}

.favs-intro-text p {
    font-size: 2rem;
    margin: 0 auto;
    color:var(--primary);
    position:flex;
    text-align: center;
}

.center-text {
    font-size:3rem;
    margin: auto;
    color:var(--primary);
    position:flex;
    text-align: center;
    grid-column: 1 / 8;
}

.arrow {
    height: 5px;
    position:flex;
    grid-column: 1/5;
    }

.main-map{  
    height: 5px;
    grid-column: 3 / 4;
    position:flex;
    align-items: center;
    justify-content: center;
}

.title {
    grid-column: 1 / 3;
}

.hearts {
    grid-column: 1 / 3;
} 

/* lucky lucky cafe */
.bean-1 {
    position:flex;
    transition: transform .4s;
}

.bean-1:hover{

}

/* stone street cafe*/
.bean-2 {
    position:flex;
    transition: transform 1s;
    display:block; 
}

.bean-2:hover{

}

/* bunny&bro coffee*/
.bean-3 {
    position:flex;
    transition: transform .4s;
}

.bean-3:hover{

}