:root {
    /* Core colors */
    --primary: #283618;
    --secondary: #606C38;
    --tertiary: #FEFAE0;
    --textColordark: #283618;
  }
  
  body {
      background: var(--tertiary);
  }

  
  section {
    padding:2rem;
    margin:0;
}

.intro-text {
    width: 90vw;
    margin: 0 auto;
    color:var(--primary);
    text-align: left;
}
.intro-text h1 {
    font-size:2rem;
    width: 90vw;
    margin: 0 auto;
    color:var(--primary);
    text-align: left;
}

.intro-text p {
    font-size: 2rem;
    width: 90vw;
    margin: 0 auto;
    color:var(--primary);
    text-align: left;
}


.hearts {
    width: 90vw;
    margin: 0 auto;
    text-align: left;
} 

.main-map{  
    display:flex;
    align-items: center;
    width:750px;
    margin: 0 auto;
    height: 35vw;
}
.home-page-container{
    display:flex;  
    justify-self:center;
    height:80vw;
    margin: 0 auto;
}
.navbar{
  
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    text-decoration: none;
}
li::marker{
    color:#FEFAE0;
}
.navbar-item a{
   /* color:black;
    position:fixed;
    bottom:150px;
    size: 150px;
    width:100%;
    text-align:center;
    text-decoration: none; */
    text-decoration: none;
    color:black;
    background: #FEFAE0;
    position:fixed;
    bottom: 150px;
    /*right: 550px;*/
    text-align:center;
    font-size: 30px;
}

.navbar-item a:hover{
    font-weight: 500;
}
.navbar-item a:hover::after{
    display: inline-block;
}